@model GroupMeetingASP.NETCoreWebApp.Models.GroupMeeting

@{
    ViewData["Title"] = "AddGroupMeeting";
}

<h2>AddGroupMeeting</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddGroupMeeting">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="">
                <label asp-for="ProjectName" class="control-label"></label>  
                <input asp-for="ProjectName" class="form-control" />  
                <span class="alert-danger" asp-validation-for="ProjectName"></span>  
            </div>
            <div class="form-group">
                <label asp-for="GroupMeetingLeadName" class="control-label"></label>
                <input asp-for="GroupMeetingLeadName" class="form-control" />
                <span asp-validation-for="GroupMeetingLeadName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamLeadName" class="control-label"></label>
                <input asp-for="TeamLeadName" class="form-control" />
                <span asp-validation-for="TeamLeadName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupMeetingDate" class="control-label"></label>
                <input asp-for="GroupMeetingDate" class="form-control" />
                <span asp-validation-for="GroupMeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Meeting" class="btn btn-success btn-sm" />
            </div>
        </form>
    </div>
    <div class="col-md-8">


    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

